<!--<nav class="navbar navbar-dark bg-dark">
  <div >
    <a class="navbar-brand" [routerLink]="['/admin']">All is well Hospital</a>
    <a class="navbar-brand" [routerLink]="['/appointment']">Appointments</a>
  </div>
</nav>
<h1 class="text-success text-center mt-5">Hospital Management System</h1>
<ul>
  <h3 > <li>To see Admin Dashboard please click on All is well Hospital</li></h3>
  <h3><li>To see Appointment Dashboard please click on Appointment</li></h3>
</ul>-->

<router-outlet></router-outlet>